.room-container {
  display: flex;
  width: 80vw;
  aspect-ratio: 16 / 9;
  align-items: center;
  justify-content: space-between;
  position: relative;
  outline: 1px solid;
  outline-color: #fff;

  background-color: #fff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-button {
  padding: 10px 16px;
  background: #222;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.interactive {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
  background-color: #fff0;
  min-width: 0px;
  min-height: 0px;
  padding: 0px;
}

.interactive:hover {
  border: 0px;
  transform: none;
}

.interactive:focus {
  outline: none;
}

.inventory {
  position: absolute;
  display: grid;
  width: 45%;
  aspect-ratio: 6;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  z-index: 5;
  background-color: #000;
  padding-left: .5%;
  padding-right: .5%;
  padding-top: .25%;
  padding-bottom: .25%;
}

.inventory-item {
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5%;
  border-radius: 0px;
  padding: 0px;
}

.inventory-item.selected {
  background-color: orchid;
  border-radius: 0px;
}

.inventory-item:focus {
  outline: none;
}