.room-container {
  display: flex;
  width: 80vw;
  aspect-ratio: 16 / 9;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
  padding: 10px 16px;
  background: #222;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}